<h1>Войди же</h1>

<div>
    <form method="post" asp-controller="Auth" asp-action="Login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Sign in</button>
    </form>
</div>