@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Login</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-controller="Auth" asp-action="Logout">
        <button class="btn btn-lg btn-primary btn-block">Logout</button>
    </form>
    <a asp-controller="User" asp-action="List" class="btn btn-primary">Users</a>
</div>