@model List<AdCampaign.BLL.Services.Adverts.DTO.ShowAdvertDto>
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row">
        @if (Model.Count != 0)
        {
            var item = Model[0];
            <div class="col-12 d-none d-md-flex justify-content-center">
                <img class="img-fluid" src="@Url.Action("Get", "Files", item.PrimaryImageId)"/>
            </div>
        }
        else
        {
            <div class="col-12 d-none d-md-flex">
                <div class="jumbotron jumbotron-fluid w-100" style="height: 250px">
                    <div class="container">
                        <p class="lead">
                            Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @for (int index = 0; index < 4; index++)
        {
            int itemIndex = index;
            
            if (Model.Count <= index)
            {
                <div class="col-12 col-md-4 pt-4 @if (itemIndex == 0) {@("d-md-none")} ">
                    <div class="jumbotron jumbotron-fluid" style="height: 250px">
                        <div class="container">
                            <p class="lead">
                                Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                var item = Model[itemIndex];
                <div class="col-12 col-md-4 pt-4 @if(itemIndex == 0) {@("d-md-none")}">
                    <img class="w-100" style="height: 250px" src="@Url.Action("Get", "Files", item.SecondaryImageId)"/>
                </div>
            }
        }
@*         @foreach (var item in Model) *@
@*         { *@
@*             <div class="col-12 col-md-4 pt-4"> *@
@*                 <img class="w-100" style="height: 250px" src="@Url.Action("Get", "Files", item.SecondaryImageId)"/> *@
@*             </div> *@
@*         } *@
@*         <div class="col-12 d-md-none pt-4"> *@
@*             <img class="w-100" style="height: 250px" src="https://ykl-res.azureedge.net/e7669ecb-b991-4307-9297-8d614484a666/lakes-and-mountains-scenery-wallpaper-650x400-w600.jpg"/> *@
@*         </div> *@
@*         <div class="col-12 col-md-4 pt-4"> *@
@*             <img class="w-100" style="height: 250px" src="https://ykl-res.azureedge.net/e7669ecb-b991-4307-9297-8d614484a666/lakes-and-mountains-scenery-wallpaper-650x400-w600.jpg"/> *@
@*         </div> *@
@*         <div class="col-12 col-md-4 pt-4"> *@
@*             <img class="w-100" style="height: 250px" src="https://st.depositphotos.com/1005145/2341/i/600/depositphotos_23418410-stock-photo-pink-flowers-in-the-mountains.jpg"/> *@
@*         </div> *@
@*         <div class="col-12 col-md-4 pt-4"> *@
@*             <div class="jumbotron jumbotron-fluid" style="height: 250px"> *@
@*                 <div class="container"> *@
@*                     <p class="lead"> *@
@*                         Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a> *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
    </div>
</div>