<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AdCampaign.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdCampaign.Web</a>
            <div class="navbar-collapse collapse justify-content-end">
                <ul class="navbar-nav">
                    @if (User.Identity is {IsAuthenticated:true})
                    {
                        <li class="nav-item">
                            <form method="post" asp-controller="Auth" asp-action="Logout">
                                <button class="btn btn-primary btn-block">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Auth">Войти</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @if (User.Identity is {IsAuthenticated:true})
        {
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Рекламные компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Статистика</a>
                </li>
            </ul>
        }
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - AdCampaign.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>